{% extends 'base.html' %}
{% block title %}Start A New Petition{% endblock %}

{% block content %}
<div class="pages col-xs-9">
  <div class="well">
  <h1>Start A New Petition</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field.label_tag.length > 0 %}
          <br> {{ field.label_tag }}
        {% endif %}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button class="btn" type="submit">Sign up</button>
  </form>
  </div>
</div>
{% endblock %}