<!DOCTYPE html>

<html>

<head>
  <title>Material Design for Bootstrap</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Material Design -->
  <link href="../dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="../dist/css/ripples.min.css" rel="stylesheet">

  <!-- Page style -->
  <link href="../dist/css/view_petition.css" rel="stylesheet">

</head>
<body>

<div class="header-panel shadow-z-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <h1>Vox Pomona</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid main">

  <div class="row">
    <div class="pages pages-center col-xs-9">
      <div class="row">
        <div class="col-xs-10">
          
          <div class="jumbotron" id="about">
            <h1>New User</h1>
                <div class="form-group">
                  <label for="inputName" class="col-md-2 control-label">Full name</label>

                  <div class="col-md-10">
                    <input type="email" class="form-control" id="inputName" placeholder="Full name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-md-2 control-label">Email</label>

                  <div class="col-md-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-md-2 control-label">Password</label>

                  <div class="col-md-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">I am a:</label>
                  <div class="col-md-10">
                    <select id="select111" class="form-control">
                      <option>Student</option>
                      <option>Faculty Member</option>
                      <option>Staff Member</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                    <button type="button" class="btn btn-danger">Cancel</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../dist/js/bootstrap.min.js"></script>

<!-- Material Design for Bootstrap -->
<script src="../dist/js/material.js"></script>
<script src="../dist/js/ripples.min.js"></script>
<script>
  $.material.init();
</script>


<!-- Sliders -->
<script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
<script>
  $(function () {
    $.material.init();
    $(".shor").noUiSlider({
      start: 40,
      connect: "lower",
      range: {
        min: 0,
        max: 100
      }
    });

    $(".svert").noUiSlider({
      orientation: "vertical",
      start: 40,
      connect: "lower",
      range: {
        min: 0,
        max: 100
      }
    });
  });
</script>

<!-- Dropdown.js -->
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
  $("#dropdown-menu select").dropdown();
</script>

</body>
</html>
